.limits-table {
    font-size: 0.9em;
}

.feedback-list-tbody td {
    word-wrap: break-word;
    max-width: 400px;
}

.feedback-details-container {
    position: sticky;
    top: 30px;
}

@media (max-width: 768px) {
    .feedback-list-tbody .date {
        font-size: 0.8em;
    }
}

body {
    background-color: #dedede;
}